<h2>Login</h2>

<form name="myForm" ng-controller="accountController">
    <div>
        <label>User Name</label>
        <input type="text"
               id="username" name="username" ng-model="myForm.username" ng-minlength="2">
    </div>
    <div>
        <label>Contraseña</label>
        <input type="password"
               id="password" name="password" ng-model="myForm.password" ng-minlength="2">
    </div>
    <div>
        <button type="button" ng-click="getAccountLogin(myForm)">Ingresar</button>
    </div>
</form>
